2_modeling/.RData
2_modeling/.ipynb_checkpoints
0_setup/fa
1_processing/bam/*
1_processing/bw/*
1_processing/fastq/*
1_processing/indexes/*
1_processing/peaks/*
1_processing/rdata/*
2_modeling/bam/*
2_modeling/bed/bpreveal/*
2_modeling/bed/*
2_modeling/bw/*
2_modeling/idr/*
2_modeling/input/*
2_modeling/json/*
2_modeling/macs2/*
2_modeling/models/*
2_modeling/modiscolite/*
2_modeling/narrowpeak/*
2_modeling/npz/*
2_modeling/preds/*
2_modeling/rdata/*
2_modeling/shap/*
2_modeling/tsv/*
figures
geo
public
written
